.word-container {
    position: relative;
    overflow: hidden;
}

.word {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 80px 0px;
    position: relative;
    /* animation: pop-up 0.3s; */
}

@keyframes pop-up {
    from {
        opacity: 0;
        transform: translateY(150%);
    }   
    to {
        transform: none;
    }
}

.hiding-box {
    width: 100vw;
    height: 200px;
    background-color: var(--background);
    position: absolute;
    top: 144px;
}