.stats-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.stat {
    background-color: var(--primary);
    padding: 4px 16px;
    border-radius: 1rem;
    font-size: 0.9rem;
    font-weight: 100;
}